[submodule "third_party/boringssl"]
	path = third_party/boringssl
	url = https://boringssl.googlesource.com/boringssl
	ignore = dirty
[submodule "third_party/tomlplusplus"]
	path = third_party/tomlplusplus
	url = https://github.com/marzer/tomlplusplus
